$black: #000000;
$white: #ffffff;
$default-black: #161C27;
$hero-bg: #1F252F;
$text-color: #555555;
$search-text: #687083;
$blue: #4068FC;
$blue-2: #46A3FF;
$naviblue:#00124E;
$footer-border: #3D75EB;
$footer-bg: #145EE9;
$gray:#F7F7F7;
$gary-2: #F6F9FB;
$dip-gray: #EEF1F5;
$light-gray:#FAFAFA;
$border: #E3E3E3;
$light-border:#e0e7eb;
$input-text-color: #687083;
$header-search-border:#E8E8E8;
$feture-border: #E2E0E0;
$green: #20CA84;
$green-2:#00d864;
$light-green:#00D673;
$orange: #FC8840;
$sunsetOrange: #FC5640;
$darkorange: #FD6700;
$yellow: #ffc107;
$yellow-2: #F6B017;
$breadcrumb-bg:#152D88;
$checkbox:#EEEDF9;
$default-star: #F1F1F1;
$accordion-bg: #f3f6fa;
$red: #F00606;
$light-red: #FC4056;
$radio-border: #707070;
$fb:#395799;
$fb_hover:#22396d;
$twitter:#03ABF0;
$twitter_hover:#0181b4;
$pinterest: #C92128;
$pinterest_hover: #ac040a;
$linkedin: #0477B5;
$linkedin_hover: #015b8b;
$archive-keywords: #F9F9FD;
$contact-page-events-bg: #EEF1F6;
$extra-light-sky: #F4F9FF;
$shamrock-green: #29C489;
$red-500:#FF2121;
$gray-100: #fcfcfc;