/*==== BREADCRUMB CSS ====*/

.bradcrumb_area {
    position: relative;
    z-index: 1;
    background-image: url(../img/breadcrumb-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 215px;
    padding-bottom: 70px;

    @include Ipad {
        background-size: cover;
        padding-top: 170px;
        padding-bottom: 50px;
    }

    @include Tablet {
        padding-top: 200px;
        padding-bottom: 35px;
        background-size: cover;
    }

    @include Mobile {
        padding-top: 100px;
        padding-bottom: 40px;
    }

    @include sMobile {
        padding-top: 80px;
        padding-bottom: 40px;
        background-size: cover;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba($color: $breadcrumb-bg, $alpha: .90);
    }

    &_inner {
        & h1 {
            font-size: 50px;
            line-height: calc(78px / 50px);
            margin-bottom: 0px;
            color: $white;
            @include d-flex(nowrap);
            justify-content: space-between;

            & span {
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: calc(20px / 16px);

                @include Mobile {
                    font-size: 14px;
                    font-weight: 400;
                }

                @include sMobile {
                    font-size: 12px;
                    display: block;
                    margin-top: 5px;
                }

                & a {
                    color: $white;

                    &:hover {
                        color: $blue;
                    }
                }
            }

            @include Laptop {
                font-size: 40px;
            }

            @include Ipad {
                font-size: 38px;
            }

            @include Tablet {
                font-size: 30px;
            }

            @include Mobile {
                font-size: 24px;
                font-weight: 700;
            }

            @include sMobile {
                display: block;
            }
        }
    }
}

.about-bg {
    background-image: url(../img/about-breadcrumb-img.jpg);
}

.google_map {
    &_inner {
        width: 100%;
        height: 400px;
        background-color: rgba($default-black, .3);

        @include Laptop {
            height: 300px;
        }

        @include Ipad {
            height: 250px;
        }

        @include Tablet {
            height: 250px;
        }

        @include Mobile {
            height: 250px;
        }

        @include sMobile {
            height: 190px;
        }
    }
}


/*==== TERMS AND CONDITIONS PAGE CSS ====*/

.terms {
    &_wrapper {
        &_title {
            & h2 {
                font-size: 40px;
                margin-bottom: 0px;
                line-height: calc(50px / 40px);

                @include Ipad {
                    font-size: 34px;
                }

                @include Tablet {
                    font-size: 28px;
                }

                @include Mobile {
                    font-size: 24px;
                }

                @include sMobile {
                    font-size: 22px;
                }
            }
        }

        &_item {
            margin-top: 60px;

            @include Laptop {
                margin-top: 50px;
            }

            @include Ipad {
                margin-top: 40px;
            }

            @include Tablet {
                margin-top: 30px;
            }

            @include Mobile {
                margin-top: 25px;
            }

            &:first-child {
                margin-top: 0px
            }

            & h4 {
                font-size: 26px;
                margin-bottom: 22px;
                line-height: calc(24px / 26px);

                @include Ipad {
                    font-size: 24px;
                }

                @include Tablet {
                    font-size: 22px;
                }

                @include Mobile {
                    font-size: 18px;
                    margin-bottom: 15px;
                }
            }

            & ol {
                list-style: decimal;
                padding-left: 20px;

                & li {
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 10px;

                    @include Mobile {
                        font-size: 14px;
                        line-height: calc(21px / 14px);
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }

            & p {
                font-weight: 400;
            }
        }
    }
}