/*font Variables*/
$primary-font: var(--base_font);

/*Color Variables*/
$primary-color: var(--base_color);
$primary-color2: var(--gradient_1);
$primary-color3: #c738d8;
$title-color: #222222;
$text-color: #828bb2;
$white: #ffffff;
$black: #000000;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600');
