@font-face {
    font-family: 'Eudoxus Sans';
    font-display: block;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/eudoxus-sans/EudoxusSans-ExtraBold.woff2') format('woff2'), url('../fonts/eudoxus-sans/EudoxusSans-ExtraBold.woff') format('woff'), url('../fonts/eudoxus-sans/EudoxusSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Eudoxus Sans';
    font-display: block;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/eudoxus-sans/EudoxusSans-Bold.woff2') format('woff2'), url('../fonts/eudoxus-sans/EudoxusSans-Bold.woff') format('woff'), url('../fonts/eudoxus-sans/EudoxusSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Eudoxus Sans';
    font-display: block;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eudoxus-sans/EudoxusSans-Medium.woff2') format('woff2'), url('../fonts/eudoxus-sans/EudoxusSans-Medium.woff') format('woff'), url('../fonts/eudoxus-sans/EudoxusSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Eudoxus Sans';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/eudoxus-sans/EudoxusSans-Regular.woff2') format('woff2'), url('../fonts/eudoxus-sans/EudoxusSans-Regular.woff') format('woff'), url('../fonts/eudoxus-sans/EudoxusSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Eudoxus Sans';
    font-display: block;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eudoxus-sans/EudoxusSans-Light.woff2') format('woff2'), url('../fonts/eudoxus-sans/EudoxusSans-Light.woff') format('woff'), url('../fonts/eudoxus-sans/EudoxusSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Eudoxus Sans';
    font-display: block;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eudoxus-sans/EudoxusSans-ExtraLight.woff2') format('woff2'), url('../fonts/eudoxus-sans/EudoxusSans-ExtraLight.woff') format('woff'), url('../fonts/eudoxus-sans/EudoxusSans-ExtraLight.ttf') format('truetype');
}